<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>luv2code - Access Denied</title>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
     integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
	<style>
		center{
			margin: 3% 0;
		}
	</style>
</head>

<body>

	<center>
	<h2>Access Denied - You are not authorized to access this resource.</h2>

	<hr>
	
	<a th:href="@{/}">Back to Home Page</a>
	<form action="#" th:action="@{/logout}" 
			   method="POST">
	
		<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
	
	</form>
	</center>
</body>

</html>